$color-blue: #4b87f7;
$color-green: #73ef36;
$color-red: #c93532;
$color-yellow: #ffc901;
$color-dark: #1d1c16;
$color-light: #f5f7fb;
$color-gray: #4a4a4a;
$color-superle: #fdc429;
$color-superle-secondary: #fc6030;
$color-crp: #141a2f;
$color-naumen: #ff6720;
$color-epam: #01f6ff;

$card-border-radius: 20px;

$icon-path: "../assets/svg";
