@font-face {
    font-family: "Syne";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(../assets/fonts//Syne-ExtraBold.ttf) format("ttf");
}

@font-face {
    font-family: "Syne";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../assets/fonts/Syne-Bold.ttf) format("ttf");
}

@font-face {
    font-family: "Syne";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../assets/fonts/Syne-Regular.ttf) format("ttf");
}
